<!DOCTYPE html>
<html>
    <head>
        <title>Twitter clone</title>
    </head>
    <body>
        <h2>Twitter Clone</h2>
        <hr/>
         <button onclick="location.href='/home'" type="button">
                home
        </button>
        <header>
           <p>Profile page</p>
        </header>
        
        <hr/>

        <div>
            
            <p>Name: {{name}}</p>
            <p>username: {{username}}</p>
            <p>followers: {{followerCount}}</p>
            <p>following: {{followingCount}}</p>
            <form id="followButton">
                <textarea  name="userUsername" style="display: none;">
                    {{username}}
                </textarea>
                <button  type="submit">follow</button>
            </form>
            <form id="unfollowButton">
                <textarea  name="userUsername" style="display: none;">
                    {{username}}
                </textarea>
                <button  type="submit">unfollow</button>
            </form>
                                    {{#if followersList}}
            <p>Followers:-</p>
            <ul>
            {{!-- 
            In code below "each" interates over the "polls" property and 
            "this.name" refers to the property inside the array of objects
            --}}
                {{#each followersList}}
                <li>
                    <p>{{this.username}}</p>
                   <button onclick="location.href='/people/{{this.username}}' " type="button">
                          visit
                   </button>
                </li>
                {{/each}}
            </ul>
            {{/if}}

            {{#if followingList}}
            <p>Following:-</p>
            <ul>
            {{!-- 
            In code below "each" interates over the "polls" property and 
            "this.name" refers to the property inside the array of objects
            --}}
                {{#each followingList}}
                <li>
                    <p>{{this.username}}</p>
                   <button onclick="location.href='/people/{{this.username}}' " type="button">
                          visit
                   </button>
                </li>
                {{/each}}
            </ul>
            {{/if}}
            {{#if tweets}}
            <p>Tweets:-</p>
            <ul>
            {{!-- 
            In code below "each" interates over the "polls" property and 
            "this.name" refers to the property inside the array of objects
            --}}
                {{#each tweets}}
                <li>{{>tweet}}</li>
                {{/each}}
            </ul>
            {{/if}}


        </div>
        
        

        <script src="../js/client.js"></script>
    </body>
</html>