<p>{{this.text}}    ({{this.createdAt}}) Likes: {{this.likes.count}}</p>

<form class="likeTweet">
    <textarea  name="tweetID" style="display: none;">
         {{this._id}}
   </textarea>
   <button  type="submit">like</button>
</form>
<form class="removeLikeTweet">
    <textarea  name="tweetID" style="display: none;">
         {{this._id}}
   </textarea>
   <button  type="submit">remove like</button>
</form>

